<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text=" 'Hello, ' + ${person.nickName} + '!  age : ' + ${person.age} " />
    <p>Fetch response from api</p>
    <p id="name"></p>
    <p id="age"></p>
</body>

<script>
    const header = new Headers();
    header.append('Content-Type', 'application/json');

    const option = {"headers": header, "method":"GET"}


    fetch('/api/person', option)
        .then(response => response.json())
        .then(response => {
            console.log(response);
            const personResponse = response;
            document.getElementById('name').innerText = personResponse.data.nickName;
            document.getElementById('age').innerText = personResponse.data.age;

        })
        .catch(error => {
            console.error(error);
            // Handle the error
        });

    console.log('called api');
</script>
</html>